@font-face {
  font-family: 'PWSmallIcons';
  src: url('../fonts/PWSmallIcons.ttf');
  font-weight: normal;
  font-style: normal;
}



a {
    color: #724ebf;
	border-bottom: 0px dotted currentColor;
}
a:focus, a:hover {
    color: #111433;
    border-bottom-color: transparent;
    text-decoration: none;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand > img {
    display: inline-block;
    height: 80px;
    margin-top: 10px;
    margin-left: 15px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 10px;
    list-style: none;
    background-color: rgba(245, 245, 245, 0);
    border-radius: 0px;
	font-size: 13px;
}

@media (max-width: 767px){
  .navbar-brand > img {
	display: inline-block;
	height: 60px;
	margin-top: 5px;
	margin-left: 15px;
  }
}


/*  alertbox  */
.alert_area {
    position: fixed;
    z-index: 5000;
    top: 30px;
    right: 30px;
    display: block;
	}
.alert {
    padding: 25px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 0px;
	font-size: .9em;
}
.alertbox{
	background-color: rgb(230, 230, 230);
    border-color: #ffffff;
    color: #111433;
    width: 290px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    line-height: 2.05rem;
	overflow: hidden;
	}
.close {
    font-size: 2.2em;
    font-weight: normal;
    opacity: 1;
    filter: alpha(opacity=50);
    color: #111433 !important;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
}
.alertbox span {
	font-weight: 700;
	line-height: 2em;
    font-size: 1.2em;
	}
.alertbox span:before {
	font-family: "Material Icons";
    content: "\E003";
    font-size: 2.8rem;
    vertical-align: sub;
    margin-right: 0.2em;
	color: #724ebf;
}
.alertbox:before{
	font-family: 'PWSmallIcons';
    content: "£";
    position: absolute;
    top: 5.3rem;
    right: 5px;
    font-size: 12em;
    opacity: .1;
}




.ab_po {
	top: 210px;
	}
.alertbox ul {
	margin-left: 1.4rem;
	}
.alertbox ul li {
	list-style-type: square;
	}
.sect {
	margin-bottom: 2.5rem;
	}
.cd-main-content h2 {
	text-transform: uppercase;
	font-size: 2rem;
    font-weight: 700;
	margin-bottom:.6rem;
	}
.cd-main-content h2 i {
	vertical-align: text-bottom;
	}

	
	





.ttab_head {
	text-align: center;
	background-color: #ccc1e0;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 4rem;
	position: relative;
}
.table-striped>thead>tr{
	background-color: #eae5f2;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.table-striped>tbody>tr:nth-child(even) {
	background-color: #f9f9f9;
}
.table-bordered {
    border: 0px solid #ddd;
}
.table-striped>tbody {
	font-size: 14px;
    line-height: 24px;
}
.indexta .table-striped>tbody>tr>td:nth-child(4) {
	background-color: #eae5f2;
}


/*  RWD table  */
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 45%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
	
	.plrzero {
		padding-left: 0px;
    	padding-right: 0px;
	}
	.table-striped>tbody>tr:nth-of-type(odd) {
		background-color: #f0edf6;
	}
	.nmt_mb {
		margin-bottom: 2rem;
	}
	
}





hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #cecece;
}

.tooltip-inner {
  max-width: 200px;
  padding: 10px 15px;
  color: #fff;
  text-align: left;
  /*background-color: #111433;*/
  background-color: rgba(17, 20, 51, 0.9);
  border-radius: 0px;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: rgba(17, 20, 51, 0.9);
}


	
/*  置頂 btn - Back to top button   */
#back-top {
    position: fixed;
    bottom: 5rem;
    right: 1.6rem;
    z-index: 110;
}
#back-top a {
	width: 4.2rem;
	display: block;
	text-align: center;
	/*font: 11px/100% Arial, Helvetica, sans-serif;*/
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 4.2rem;
    height: 4.2rem;
    display: block;
    /* margin-bottom: 7px; */
    background: #8167b0;
    /* -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%; */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    color: #fff;
    /* font-size: 3rem;
    line-height: 4.2rem;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3); */
}
#back-top a:hover span {
	background-color: #777;
}	

.dueday{
	margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 700;
	}
.iconbi{
	font-size: 30px;
	line-height: 4.2rem;
	}
.icon_vam{
	vertical-align: middle;
	}
.menu_dueday {
    margin-bottom: 0px;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    height: 20px;
    right: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
}

	

	

/*  次目錄 BS 修改  */
.navbar-inverse {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}
.navbar-inverse .navbar-collapse {
	border-bottom: 1px solid #cecece;
	margin-left: 15px;
    margin-right: 15px;
	}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #111433;
    background-color: rgba(6,8,8,0);
    border-bottom: 6px solid #111433;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #724ebf;
    border-radius: 10px;
}
.navbar-inverse .navbar-nav>.active>a span.badge,
.navbar-inverse .navbar-nav>.active>a:focus span.badge, 
.navbar-inverse .navbar-nav>.active>a:hover span.badge,
.navbar-inverse .navbar-nav>li>a:hover span.badge,
.navbar-inverse .navbar-nav>li>a:focus span.badge {
	background-color: #111433;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 12px 0px;
}
.nav>li {
	margin-right: 25px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #724ebf;
}
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    color: #111433;
    background-color: transparent;
	border-bottom: 6px solid #111433;
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #111433;
    background-color: rgba(8, 8, 8, 0);
    border-bottom: 6px solid #111433;
}
.dropdown .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 6px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 180px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

@media (min-width: 768px){
.navbar-header .navbar-brand{
	display:none;
  }
.navbar-nav {
    float: left;
    margin: 0;
    margin-left: -15px;
}
}

@media (max-width: 767px){
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 3px;
    border: 0px solid transparent;
}
.navbar-inverse {
    background-color: #F4F4F3;
    border-color: #F4F4F3;
}
.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: #2f1957;
}
.navbar-inverse .navbar-toggle {
    border-color: #2f1957;
	border-radius: 0px;
	background-color: #2f1957;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #9d9d9d;
    line-height: 50px;
    padding-left: 15px;
}
.navbar-inverse .navbar-collapse {
    border-bottom: 0px solid #cecece;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border-color: #dedede;
	padding: 0;
}
.navbar-nav {
    margin: 0px 0px;
}	
.nav>li {
    margin-right: 0px;
	text-indent: 15px;
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #111433;
    background-color: #ccc1e0;
    border-bottom: 0px solid #111433;
}
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    color: #111433;
    background-color: #ccc1e0;
    border-bottom: 0px solid #111433;
}	
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #111433;
    background-color: #ccc1e0;
    border-bottom: 0px solid #111433;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #111433;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, 
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #111433;
    background-color: #e6e6e6;
}
	
}





.mmenua{
	background-color: #FFFFFF;
	display: block;
	margin-left: 15px;
    margin-right: 15px;
	margin-bottom: 15px;
}
.mmenua_mb3 {
    margin-bottom: 3px;
}
.m_btn {
	width: 100%;
}
.m_btn.btn {
	margin: 0px 0px 0px 0px;
	text-align: left;
	white-space: initial;
  	overflow: hidden;
  	text-overflow: ellipsis;
	padding: 12px 80px 12px 24px;
	line-height: 25px;
}
/* Icon when the collapsible content is shown */
.m_btn.btn:after {
    font-family: "Material Icons";
    content: "\E316";
    float: right;
    margin-left: 15px;
	z-index: 1;
	position: absolute;
	right: 24px;
	font-size: 2.6rem;
	height: 2rem; 
	margin: auto;
    top: 0;
    bottom: 0;
	
  }
  /* Icon when the collapsible content is hidden */
.m_btn.btn.collapsed:after {
    content: "\E313";
  }

.mmenuv {
	text-align: center;
	padding-bottom: 0px;
}
.mmenuv video {
	border: 1px solid #111433;
	max-height: 450px;
	/*width: 100%;*/
}

.mmenua_mb3 .m_btn.btn {
	margin: 0px 0px 0px 0px;
	text-align: left;
	/*padding: 12px 50% 12px 24px;*/
	line-height: 25px;
	position: relative;
}


/*  Math Canlendar 修改 */

.math_cal {
    padding: 0px 24px 24px 24px;
	margin-bottom: 0px;
}
.math_cal table {
	margin-bottom: 0px;
}

.math_cal .table-bordered {
    border: 1px solid #ddd;
}
.math_cal tbody tr td {
	
}
.math_cal tbody tr td .caldate {
	font-size: 1.2rem;
	display: inline-block;
    margin-bottom: .6rem;
	color: #afafaf;
}

.math_cal tbody tr td .caldate.today {
	font-size: 1.2rem;
    display: inline-block;
    margin-bottom: .6rem;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
.ocu_a {
	background-color: #f0f8ff;
	border-right: 1px solid #f0f8ff !important;
}
.ocu_aa {
	background-color: #d2eaff;
}
.ocu_b {
	background-color: #fef5ea;
	border-right: 1px solid #fef5ea !important;
}
.ocu_bb {
	background-color: #feead2;
}
.math_cal tbody tr td:nth-child(8).ocu_a,
.math_cal tbody tr td:nth-child(8).ocu_b {
	border-right: 0px solid #f0f8ff !important;
}
.math_cal i {
	vertical-align: inherit;
	color: #724ebf;
}

.math_cal .unoverdue {
    vertical-align: bottom;
    color: #111433;
}

.math_cal .unoverdue i {
	color: #724ebf;
	vertical-align: bottom;
}
.math_cal .unoverdue i.un {
	color: #9E9E9E;
	vertical-align: bottom;
}
.math_cal .overdue,
.math_cal .overdue i.un,
.math_cal .overdue i {
    vertical-align: bottom;
    color: red;
}



.math_cal .finish:before {
	font-family: "Material Icons";
    content: "\E86C";
	color: #724ebf;
	font-size: 24px;
	vertical-align: middle;
	margin-right: .3rem;
	line-height: 25px;
}
.math_cal .unfinish:before {
	font-family: "Material Icons";
    content: "\E15D";
	color: #724ebf;
	font-size: 24px;
	vertical-align: middle;
	margin-right: .3rem;
	line-height: 25px;
}
.math_cal .unfinish_overdue:before {
	font-family: "Material Icons";
    content: "\E15D";
    color: red;
	font-size: 24px;
	vertical-align: middle;
	margin-right: .3rem;
	line-height: 25px;
}
.math_cal .un_overdue:before {
    font-family: "Material Icons";
    content: "\E836";
    color: red;
	font-size: 24px;
	vertical-align: middle;
	margin-right: .3rem;
	line-height: 25px;
}
.math_cal .un:before {
	font-family: "Material Icons";
    content: "\E836";
    color: #9E9E9E;
	font-size: 24px;
	vertical-align: middle;
	margin-right: .3rem;
	line-height: 25px;
}
.math_cal .unfinish_overdue,
.math_cal .un_overdue {
	color: red;
}


.math_cal .table-condensed>tbody>tr>td, 
.math_cal .table-condensed>tbody>tr>th, 
.math_cal .table-condensed>tfoot>tr>td, 
.math_cal .table-condensed>tfoot>tr>th, 
.math_cal .table-condensed>thead>tr>td, 
.math_cal .table-condensed>thead>tr>th {
    padding: 5px 5px 15px 5px;
}
.math_cal .table>thead>tr>th,
.math_cal .table>tbody>tr>td {
	width: 13% ;
	overflow-x: hidden;
	min-width: 130px;
}
.math_cal .table>thead:first-child>tr:first-child>th,
.math_cal .table>tbody>tr>td:first-child {
	width: 5%;
	min-width: 30px;
}
.math_cal .table>tbody>tr>td:first-child,
.math_cal .table>thead>tr>th:first-child {
	padding-left: 15px;
	
}


/*   A panel-group   */ 
.panel-group {
    margin-bottom: 0px;
}
.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #FAFAFA;
	border-color: #EEEEEE;
}

.panel-title {
	font-size: 1.65rem;
}

.panel-title > a {
	display: block;
	padding: 12px 90px 12px 25px;
	text-decoration: none;
	line-height: initial;
}


.more-less {
	float: right;
    color: #212121;
    font-family: "Material Icons";
    font-size: 2rem;
    line-height: 10px;
    right: 22px;
    position: absolute;
    height: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
}
.panel-group .panel+.panel {
    margin-top: -1px;
}
.panel-body {
    padding: 0px;
}
.mathsubmenubox .table {
	margin-bottom: 0px;
}
.mathsubmenubox .table>tbody>tr>td {
	padding: 8px 25px 8px 65px;
	position: relative;
	line-height: 25px;
	cursor: pointer;
}
.mathsubmenubox .table>tbody>tr>td>i.left {
	vertical-align: bottom;
    margin-right: .6rem;
    position: absolute;
    left: 35px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 20px;
	color: #724ebf;
}
.mathsubmenubox .table>tbody>tr>td>i.right {
	vertical-align: bottom;
    margin-right: .6rem;
    position: absolute;
    right: 25px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 20px;
	color: #724ebf;
}
.mathsubmenubox .table>tbody>tr>td>.time{
	float: right;
    margin-right: 1rem;
    color: #9E9E9E;
    font-size: .8rem;
    line-height: 25px;
}


.panel-heading .panel-title .number{
	float: right;
    font-size: .8rem;
    position: absolute;
    right: 50px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 20px;
    line-height: 20px;
}
.panel-heading .panel-title .number span:nth-child(1) {
	color: #864eff;
    font-weight: 700;
}

.mathsubmenubox .table>tbody>tr>td:hover i.left,
.mathsubmenubox .table>tbody>tr>td:focus i.left,
.mathsubmenubox .table>tbody>tr>td:hover a,
.mathsubmenubox .table>tbody>tr>td:focus a {
	color: #111433;
}

.mathsubmenubox .table>tbody>tr>td:hover, 
.mathsubmenubox .table>tbody>tr>td:focus, 
.mathsubmenubox .table>tbody>tr>td.active, 
.mathsubmenubox .table>tbody>tr>td.active a, 
.mathsubmenubox .table>tbody>tr>td.active i.left {
    background-color: #f0edf6;
    color: #111433;
}


.mathsubmenubox .table>tbody>tr>td>a.finish:after{
	font-family: "Material Icons";
	content: "\E86C";
	color: #724ebf;
	float: right;
	font-size: 24px;
    line-height: 26px;
}
.mathsubmenubox .table>tbody>tr>td>a.unfinish:after{
	font-family: "Material Icons";
	content: "\E15D";
	color: #724ebf;
	float: right;
	font-size: 24px;
    line-height: 26px;
}
.mathsubmenubox .table>tbody>tr>td>a.unfinish_overdue:after{
	font-family: "Material Icons";
	content: "\E15D";
	color: red;
	float: right;
	font-size: 24px;
    line-height: 26px;
}
.mathsubmenubox .table>tbody>tr>td>a.un:after{
	font-family: "Material Icons";
	content: "\E836";
	color: #9E9E9E;
	float: right;
	font-size: 24px;
    line-height: 26px;
}
.mathsubmenubox .table>tbody>tr>td>a.un_overdue:after{
	font-family: "Material Icons";
	content: "\E836";
	color: red;
	float: right;
	font-size: 24px;
    line-height: 26px;
}



@media (max-width: 1024px){
.mmenuv video {
	width: 100%;
	height: 100%;
	border: 0px solid #111433;
}	
}


@media (max-width: 767px){
.mmenua {
    background-color: #FFFFFF;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
	margin-bottom: 3px;
}
.m_btn.btn{
	padding: 12px 46px 12px 15px;	
}
.m_btn.btn:after {
	right: 12px;
    margin: auto;
    top: 0;
    bottom: 0;
	}
.menu_dueday {
	margin-bottom: 0px;
    font-size: 1.3rem;
    font-weight: 700;
    float: left;
    margin-left: 0px;
    margin-right: 1rem;
    width: 100%;
    position: relative;
    right: 0rem;
    top: 0rem;
}
.panel-title > a {
    display: block;
    padding: 12px 90px 12px 25px;
    text-decoration: none;
    line-height: initial;
	position: relative;
}
.mathsubmenubox .table>tbody>tr>td {
    padding: 8px 90px 8px 60px;
    position: relative;
    line-height: 20px;
}
.mathsubmenubox .table>tbody>tr>td>i.left {
    vertical-align: bottom;
    margin-right: .6rem;
    position: absolute;
    left: 25px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 20px;
}
.mathsubmenubox .table>tbody>tr>td>i.right {
    vertical-align: bottom;
    margin-right: .6rem;
    position: absolute;
    right: 15px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 20px;
    color: #4CAF50;
}
.mathsubmenubox .table>tbody>tr>td>.time {
    float: none;
    margin-right: 0rem;
    color: #9E9E9E;
    font-size: .8rem;
    line-height: 30px;
    position: absolute;
    right: 50px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 30px;
}	
.mathsubmenubox .table>tbody>tr>td>a:after {  
    position: absolute;
    right: 15px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 20px;
    line-height: 20px !important;
}

}


@media screen and (max-device-width: 480px) {
	.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0px solid #ddd;
}
.math_cal {
    padding: 0px 0px 0px 0px;
	margin-bottom: 0px;
}
/*.ttposi div.tooltip.bottom {
	width: 300px;
    margin-left: -85px;
}*/
	
.ttposi div.tooltip-inner{
	width: 300px;
    margin-left: -85px;

}
	
}



/*  動態  */
.alertbox {
    -webkit-animation: alertbox .5s ease-out; 
    -webkit-animation-delay: .5s; 
    animation: alertbox .5s ease-out;
    animation-delay: .5s;
	-webkit-animation-fill-mode: both;
	}
	@-webkit-keyframes alertbox {
    from {opacity:0; transform: translateY(-30px)}
    to {opacity:1; transform: translateY(0px)}
	}
	@keyframes alertbox {
    from {opacity:0; transform: translateY(-30px)}
    to {opacity:1; transform: translateY(0px)}
	}




.mmenua2 {
    background-color: #FFFFFF;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
	padding: 24px;
}
.cate_t_icon:after{
	font-family: "FontAwesome";
    content: "\f139"; 
    cursor: pointer;
    font-size: 24px;
    vertical-align: middle;
    /*line-height: 4rem;*/
    color: #724ebf;
    float: right;
    /*padding-right: 15px;*/
	right: 20px;
	position: absolute;
	}
.cate_t_icon.collapsed:after{
	content: "\f13a";
	}

.ttab_head.cate_t_icon.collapsed{
	margin-bottom: 1rem;
}
.testreview_t table {
	margin-bottom: 1rem;
}
.testreview_t .table-striped>thead>tr {
    /*background-color: #ccc1e0;*/
}
.testreview_t .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.testreview_t .table-striped>tbody>tr:nth-child(even) {
	/*background-color: #f0edf6;*/
}
.testreview_t i {
	vertical-align: middle;
}
.intableplay {
	padding: 0;
	margin: 0;
}
.wrong {
	color: red;
}
.testreview_t.tbyt table {
	margin-bottom: 0rem;
	/*border-bottom: 4px solid #ddd;*/
	width: 100%;
}
.ttab_head .checkbox-inline {
	right: 20px;
	position: absolute;
	height: 25px;
}
/*** custom checkboxes ***/
.ttab_head input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.ttab_head input[type=checkbox] + label:after {
  font-family: "FontAwesome";
  display: inline-block;
}
.ttab_head input[type=checkbox] + label:after { content: "\f1db"; color: #724ebf;} /*unchecked icon*/
.ttab_head input[type=checkbox] + label:after {
	/*letter-spacing: 5px;*/
	font-size: 24px;
	/*vertical-align: middle;*/
	margin-left: 8px;
} 
/*space between checkbox and label */
.ttab_head input[type=checkbox]:checked + label:after { content: "\f058"; color: #724ebf; /*vertical-align: middle;*/} /* checked icon */

.ttab_head input[type=checkbox]:checked + label {
	color: #724ebf;
}




.tr_tablebox .ttab_head {
    text-align: left;
    background-color: #ccc1e0;
    font-size: 1.8rem;
    font-weight: 700;
    position: relative;
    padding-left: 15px;
}

.essay_collbox {
	border: 1px solid #ddd;
}
.essaytable table {
    margin-bottom: 0rem !important;
}
.essay_title {
	background-color: #eae5f2;
    padding: 5px;
    display: inline-block;
    width: 100%;
	/*border-bottom: 1px solid #ddd;*/
	
	position: relative;
}
.essay_title.cate_t_icon:after {
    font-family: "FontAwesome";
    content: "\f139";
    cursor: pointer;
    font-size: 24px;
    vertical-align: middle;
    color: #724ebf;
    float: right;
    right: 20px;
    position: absolute;
	line-height: 33px;
}
.essay_title.cate_t_icon.collapsed:after {
    content: "\f13a";
}
.essay_collbox .collapse.in {
    display: block;
	height: 600px;
}
.essay_collbox embed {
	height: 100%;
	width: 100%;
}
.essayblock .essay_collbox:last-child {
	margin-bottom: 1rem;
}








.filterarea {
	
}
.filterarea .fliter {
	float: left;
	margin-right: 15px;
}
.filterarea .dropdown {
    position: relative;
    float: left;
}
.filterarea .btn {
    font-family: inherit;
    font-size: 14px;
    color: #724ebf;
    background: none;
    cursor: pointer;
    padding: 6px 22px;
    display: inline-block;
    margin: 0px 3px 15px 0px;
    text-transform: initial;
    letter-spacing: 0px;
    font-weight: normal;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 50px;
    border: 1px solid #ddd;
	height: 40px;
}
.filterarea .btn.active.focus, 
.filterarea .btn.active:focus, 
.filterarea .btn.focus, 
.filterarea .btn:active.focus, 
.filterarea .btn:active:focus, 
.filterarea .btn:focus,
.filterarea .btn:hover {
	color: #111433;
	border: 1px solid #7B7C7B;
}
.filterarea .btn i.showit {
	vertical-align: middle;
	display: inline-block !important;
}
.filterarea .btn i {
	display: none;
}
.filterarea .dropdown-menu {
    top: 42px;
	width: initial;
}
.filtertable {
    overflow-x: initial;
}
.filtertable .table-striped>thead>tr {
    /*background-color: #ccc1e0;*/
}
.filtertable .table-striped>tbody>tr:nth-child(even) {
    /*background-color: #f0edf6;*/
}
.filtertable .radio_spot {
	
}



/*** custom checkboxes ***/
.filtertable input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.filtertable input[type=checkbox] + label:after {
  font-family: "FontAwesome";
  display: inline-block;
}
.filtertable input[type=checkbox] + label:after { content: "\f1db"; /*color: #864eff;*/} /*unchecked icon*/
.filtertable input[type=checkbox] + label:after {
	/*letter-spacing: 5px;*/
	font-size: 24px;
	/*vertical-align: middle;
	margin-left: 8px;*/
} 
/*space between checkbox and label */
.filtertable input[type=checkbox]:checked + label:after { content: "\f058"; color: #724ebf; /*vertical-align: middle;*/} /* checked icon */

.filtertable input[type=checkbox]:checked + label {
	/*color: #724ebf;*/
}
.filtertable .thead_radio_spot input[type=checkbox] + label:before {
	content: "Select All";
	margin-right: 6px;
}
.filtertable .thead_radio_spot input[type=checkbox]:checked + label:before {
	content: "Clear All";
}

.filtertable table>tbody>tr>td,
.filtertable table>thead>tr>th {
	vertical-align: middle;
}
.filtertable table>tbody>tr>td:nth-child(1),
.filtertable table>thead>tr>th:nth-child(1) {
    text-align: center;
}
.filtertable table>tbody>tr>td>span {
	margin-right: 6px;
    color: #8c70bf;
}
.filtertable .dropdown-menu {
	width: auto;
}
.filtertable .dropdown {
    cursor: pointer;
}
.filtertable .table-hover>tbody>tr:hover {
    background-color: #f5f5f5 !important;
	cursor: pointer;
}


.cmq_area {
    position: relative;
    z-index: 1;
    padding: 15px 24px 24px 24px; 
}
.cm_btnboxquestion {
    text-align: right;
    padding: 0px !important;
}
.cm_btnboxquestion .btn {
    font-family: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    margin: 0px 0px 0px 15px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0px;
    border: 3px solid #ccc1e0;
    color: #8a6ec6;
    font-size: 1.3rem;
    padding: 10px 18px;
}
.cm_btnboxquestion .btn:hover, 
.cm_btnboxquestion .btn:active {
    color: #ffffff;
    border: 3px solid #492b80;
}
.answer_t1 {
	color: #724ebf;
    margin-right: 8px;
    font-weight: 700;
}
.qa_block {
	display: inline-block;
	width: 100%;
	margin-top: 24px;
}
.qa_block .qabox {
	margin-bottom: 15px;	
}
.cm_qvbox .vbox {
	width: 100%;
	height: 520px;
	padding: 0px;
    background-color: #000;
}
.cm_qvbox .vbox video {
	width: 100%;
	height: 100%;
}
.cm_qvbox .vbox .cc {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 9999;
    color: #fff;
    background-color: #000;
    width: 34px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}
    

.redstar {
	color: red;
	margin-right: .5rem;
}
.redstar i {
	font-size: 1rem;
    width: 15px;
	height: 15px;
	vertical-align: middle;
}
.iconback {
	vertical-align: middle;
	
}



/* modal 修改 */
.modal-body {
    position: relative;
    padding: 0px;
}
.modal-content {
    border-radius: 0px;
	border: 0px solid rgba(0, 0, 0, 0);
}
.modal-content .close {
	margin-top: 0px;
    color: #fff !important;
    font-size: 34px;
    box-shadow: 0 4px 10px rgba(0,0,0,0);
    right: -36px;
    top: -12px;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0);
}
.modal-content .vbox {
	width: 100%;
	height: 340px;
    border: 3px solid #fff;
	padding: 0px;
    background-color: #000;
}
.modal-content .vbox video {
	width: 100%;
	height: 100%;
}




/*   SAT info   */
.caption-style-4{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
	}

	.caption-style-4 li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.caption-style-4 li:hover .caption{
		opacity: 1;
	}

	.caption-style-4 li:hover img{
		opacity: 1;
		transform: scale(1.15,1.15);
		-webkit-transform:scale(1.15,1.15);
		-moz-transform:scale(1.15,1.15);
		-ms-transform:scale(1.15,1.15);
		-o-transform:scale(1.15,1.15);
	}


	.caption-style-4 img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
	}

	.caption-style-4 .brand_a img {
		background-color: #00529b;
	}
	.caption-style-4 .brand_b img {
		background-color: #093F6F;
	}

	.caption-style-4 .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;
	}

	.caption-style-4 img{
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
	}
	.caption-style-4 .blur{
		background-color: rgba(0,0,0,0.65);
		/*height: 300px;
		width: 400px;*/
		min-height: 360px;
		width: 100%;
		z-index: 5;
		position: absolute;
	}

	.caption-style-4 .caption-text h1{
		/*text-transform: uppercase;*/
		font-size: 24px;
	}
	.caption-style-4 .caption-text {
		z-index: 10;
		color: #fff;
		position: absolute;
		/*width: 400px;*/
		width: 100%;
		height: 300px;
		text-align: center;
		top:90px;
		padding-left: 15px;
    	padding-right: 15px;
	}

.caption-style-4 .caption-text p {
	line-height: 22px;
}

@media screen and (max-width: 1680px) { 
.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		/*width: 400px;*/
		width: 100%;
		height: 300px;
		text-align: center;
		top:50px;
		padding-left: 15px;
    	padding-right: 15px;
	}


}
@media screen and (max-width: 1024px) { 
.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		/*width: 400px;*/
		width: 100%;
		height: 300px;
		text-align: center;
		top:60px;
		padding-left: 15px;
    	padding-right: 15px;
	}

}
@media screen and (max-width: 768px) { 
.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		/*width: 400px;*/
		width: 100%;
		height: 300px;
		text-align: center;
		top:100px;
		padding-left: 15px;
    	padding-right: 15px;
	}
.indexta .table-striped>tbody>tr>td:nth-child(4) {
	background-color: initial;
}

}




@media only screen and (max-width: 800px){
#no-more-tables.testreview_t td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
}
#no-more-tables.testreview_t td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
}
.mmenua2 {
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding: 15px;
}
.ttab_head {
    text-align: left;
    background-color: #ccc1e0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2rem;
    padding-left: 15px !important;
    padding-top: .8rem;
    padding-bottom: .8rem;
	position: relative;
	padding-right: 50px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}	
.modal-content .close {
    margin-top: 0px;
    color: #ffffff !important;
    font-size: 32px;
    right: 10px;
    top: 10px;
    /*text-shadow: 0 0px 0 rgba(255, 255, 255, 0);
    border-radius: 50%;
    background-color: #000;
    border: 2px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);*/
}	
.modal-content .vbox {
	width: 100%;
	height: 340px;
    border: 1px solid #fff;
	padding: 0px;
    background-color: #000;
}
.filterarea .fliter {
    float: left;
    margin-right: 15px;
    height: 80px;
}
.filterarea .btn {
    font-family: inherit;
    font-size: 14px;
    color: #724ebf;
    background: none;
    cursor: pointer;
    padding: 0px 14px;
    display: inline-block;
    margin: 0px 3px 15px 0px;
    text-transform: initial;
    letter-spacing: 0px;
    font-weight: normal;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 50px;
    border: 1px solid #ddd;
    height: 35px;
	max-width: 100px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.filterarea .dropdown-menu {
    top: 36px;
    width: initial;
}
.filterarea .btn span {
	display: none;
}
.filterarea .btn i {
	display: inline-block;
	vertical-align: middle;
}
	
#no-more-tables.filtertable table {
	margin-top: 50px;
}
#no-more-tables.filtertable td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30%;
    white-space: normal;
    text-align: left;
}
#no-more-tables.filtertable td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
}
.filtertable.table-responsive {
    width: 100%;
    margin-bottom: 0px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
	
	
}


@media screen and (max-width: 480px) { 
	#no-more-tables.filtertable table {
		margin-top: 100px;
	}
	.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		/*width: 400px;*/
		width: 100%;
		height: 300px;
		text-align: center;
		top:35px;
		padding-left: 15px;
    	padding-right: 15px;
	}
.tr_title_80 {
	/*height: 80px;*/
    width: 100%;
    padding-right: 150px;
    overflow-x: hidden;
}
.tr_title_80 label { 
	font-size: 60%;
    /*margin-top: 3px;*/
}
.tr_title_80 .checkbox-inline {
    right: 20px;
    position: relative;
    height: 25px;
    float: right;
    margin-right: -150px;
}
    

}
