


/* report card */


.mrc_table table .collapse.in {
	display:table-row;
}


.mrc_table {
	padding: 24px;
	display: flex;
}

.mrc_table .table {
	margin-bottom: 0px;
}
.mrc_table .table>tbody {
	font-size: 1.5rem;
	line-height: 2rem;
}
.mrc_table .table-striped>thead>tr{
	background-color: #ccc1e0;
}
.mrc_table .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.mrc_table .table-striped>tbody>tr:nth-child(even) {
	/*background-color: #f0edf6;*/
}
/*.mrc_table .table>thead:first-child>tr:first-child>th, */
.mrc_table .table>tbody>tr>td:first-child {
    /*width: 15%;
    min-width: 110px;*/
}

/*.mrc_table .table>thead>tr>th, 
.mrc_table .table>tbody>tr>td {
    width: 30%;
    overflow-x: hidden;
    min-width: 150px;
}*/

.mrc_table .table>tbody>tr>td, 
.mrc_table .table>tbody>tr>th, 
.mrc_table .table>tfoot>tr>td, 
.mrc_table .table>tfoot>tr>th, 
.mrc_table .table>thead>tr>td, 
.mrc_table .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
	/*width: 65px !important;*/
}
.mrc_table .table>tbody>tr>td.highlight{
	font-weight: 700;
    color: #111433;
    font-size: 110%;
}
    



.mrc_table .table>thead>tr>td, 
.mrc_table .table>thead>tr>th {
	vertical-align: bottom;
}
.mrc_table .table>tbody>tr>td:first-child, 
.mrc_table .table>thead>tr>th:first-child {
    /*padding-left: 0px;*/
}
.mrc_table .table>tbody {
    font-size: 1.4rem;
    line-height: 2rem;
}
.mrc_table .table>tbody>tr[data-toggle=collapse]>td{
	border-top: 4px solid #ddd;
}
.mrc_table .table>tbody>tr[data-toggle=collapse]>td:nth-child(1):before {
	font-family: 'Material Icons';
    content: "\E313";
    font-size: 1.8rem;
    vertical-align: middle;
    margin-right: 0.2em;
    color: #864eff;
	padding-left: 5px;
}
.mrc_table .table>tbody>tr[data-toggle=collapse].collapse.in>td:nth-child(1):before{
	font-family: 'Material Icons';
    content: "\E15B";
}
.mrc_table .studyalert:before{
	font-family: 'Material Icons';
    content: "\E061";
	color: red;
}
.mrc_table i {
	vertical-align: bottom;
}
.mrc_table .dropdown-menu {
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 200px;
    padding: 0px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.mrc_table .dropdown-header {
	display: block;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #fff;
    white-space: initial;
    background-color: #2f1957;
}

.mrc_table .dropdown-menu table {
	text-align: center;
}
.mrc_table .dropdown-menu table tbody tr:nth-child(1) {
	font-weight: 700;
	background-color: #f0edf6;
}
.tbyt .table-hover>tbody>tr:hover {
    background-color: #f5f5f5 !important;
	cursor: pointer;
}
.chartbox #chartContainer4 {
	width: 100%; 
	height: 300px;
	display: inline-block;
	margin-bottom: 15px;
}
.charttitle {
	font-weight: 700;
    margin-bottom: 8px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.canvasjs-chart-tooltip div {
	border-radius: 0px !important;
	font-weight: 700 !important;
}


.aatable .table-striped>thead>tr {
    background-color: #eae5f2;
}

.aatable .ch_subtitle {
	background-color: #fff;
	font-weight: 700;
    font-size: 110%;
}
.aatable .ch_subtitle .ttitle {
    font-weight: 700;
	/*font-size: 110%;*/
}
.aatable table .collapse.in{
	display: block;
}
.ch_subtitle .chartbox_2 {
	padding: 10px;
}
.ch_subtitle .chartbox_2 {
	margin-top: 20px;   
	margin-bottom: 15px;
	border-left: 1px solid #ddd;
	padding: 10px 30px;
}
.ch_subtitle .chartbox_2:nth-child(1){
	border-left: 0px solid #ddd;
}
/*.chartbox_2 #chartContainer{
	height: 250px;
    width: 100%;
}*/
.aatable .chartbox_2 img {
	width: 100%;
	height: 265px;
}
.aatable .canvasjs-chart-canvas {
	height: 265px !important;
    width: 100% !important;
}
.chart_t_icon:after {
    font-family: 'Material Icons';
    content: "\E316";
    cursor: pointer;
    vertical-align: middle;
    color: #864eff;
    float: right;
    right: 20px;
    position: absolute;
	font-size: 1.8rem;
}

.chart_t_icon.collapsed:after {
	font-family: 'Material Icons';
    content: "\E313";
}
@media screen and (max-width: 1024px) { 
.aatable .canvasjs-chart-canvas {
    height: 220px !important;
    width: 100% !important;
}
.aatable .chartbox_2 img {
	width: 100%;
	height: 220px;
}
}
@media only screen and (max-width : 768px) {
.aatable .canvasjs-chart-canvas {
    height: 250px !important;
    width: 100% !important;
}
.aatable .chartbox_2 img {
	width: 100%;
	height: 250px;
}
.ch_subtitle .chartbox_2:nth-child(odd) {
    border-left: 0px solid #ddd;
}	
}

@media only screen and (max-width : 480px) {
.aatable .canvasjs-chart-canvas {
    height: 200px !important;
    width: 100% !important;
}	
.aatable .chartbox_2 img {
	width: 100%;
	height: 200px;
}
}

@media screen and (max-width: 767px) {
.mrc_table {
    padding: 0px;
    margin-bottom: 0px !important;
}

}

@media screen and (max-width: 736px) { 
.chart_t_icon:after {
    font-family: 'Material Icons';
    content: "\E313";
    cursor: pointer;
    vertical-align: middle;
    color: #864eff;
    right: 20px;
    position: initial;
    font-size: 1.8rem;
	float: initial;
}
.aatable table>thead>tr:nth-child(1)>td:first-child,
.aatable table>thead>tr:nth-child(2)>td:first-child,
.aatable table>thead>tr:nth-child(1)>th:first-child,
.aatable table>thead>tr:nth-child(2)>th:first-child,
.aatable table>thead>tr>th:first-child,
.aatable table>tbody>tr>td:first-child {
	padding-left: 15px;
}
.ch_subtitle .chartbox_2 {
	margin-top: 20px;   
	margin-bottom: 15px;
	border-left: 1px solid #ddd;
	padding: 5px 15px;
}
.aatable .chartbox_2 img {
	width: 100%;
	height: 200px;
}
.aatable .canvasjs-chart-canvas {
	height: 200px !important;
    width: 100%;
}

	
}

@media screen and (max-width: 480px) { 


}



